#content {
    height: fit-content;
}

#carousel{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    margin-top: 0;
    overflow: auto;
    cursor: grab;
    overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar{
    height: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.card {
    display: inline-block;
    width: 200px;
    height: 100%;
    margin-right: 4%;
    border: 1px solid transparent;

    transition: 0.5s;
    /* transform: scale(0.9); */
}

.carousel-img {
    display: block;
    margin: 0 auto;
    height: 80%;
    pointer-events: none;
}

.carousel-details {
    height: 20%;
    margin: 0 auto;
    white-space: normal;
    /* height: 500px; */
}

.carousel-header {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 2em;
}

.card:hover {
    transform: scale(1);
    cursor: pointer;
    border: 1px solid black;
}

.img1, .img2{
    aspect-ratio: 28 / 19;
}

.img2{
    width: 100%;
}

.pad-none{
    padding: 0;
}

.modal-header{
    border-style: none;
}

/* OLD */
/* #content {
    height: fit-content;
  }

  #carousel,
  #carousel2 {
    height: 230px;
    white-space: nowrap;
    margin-top: 0;
    overflow: auto;
    cursor: grab;

  }

  #carousel::-webkit-scrollbar,
  #carousel2::-webkit-scrollbar {
    display: none;
  }

  .card {
    display: inline-block;
    width: 200px;
    margin-right: 4%;
    height: 100%;
    border: 1px solid transparent;
    padding: 10px;
  }

  .carousel-img {
    display: block;
    margin: 0 auto;
    height: 80%;
    pointer-events: none;
  }

  .carousel-details {
    height: 20%;
    margin: 0 auto;
  }

  .carousel-header {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 2em;
  }

  .card:hover {
    transform: scale(1);
    cursor: pointer;
    border: 1px solid black;
  } */