@import url("https://fonts.googleapis.com/css2?family=Abel&family=Mochiy+Pop+P+One&display=swap");

body {
  background-color: #ffe66d;
  background-size: 200%;
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  font-family: "Mochiy Pop P One", sans-serif;
}

#logo-container {
  margin-top: 2em;
  height: 45%;
}

#logo-container img {
  height: 100%;
}

#auth-container,
#signup-container {
  display: none;
  margin: auto;
  width: fit-content;
  border: 10px solid white;
  background-color: #ffbf69;
  padding: 2em;
  border-radius: 10px;
}

#auth-option {
  border: 10px solid transparent;
  padding: 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#email1,
#email2,
#password1,
#password2,
#name {
  width: 11em;
  float: right;
  border: none;
}

#signIn,
#signUp,
#old-user,
#new-user,
#back1,
#back2 {
  margin: 1em 1em 0 1em;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  border: 2px solid transparent;
}

#old-user,
#new-user {
  margin: auto auto 1em auto;
  width: 50%;
  max-width: 13em;
}

#signIn:hover,
#signUp:hover,
#old-user:hover,
#new-user:hover {
  border: 2px solid black;
}

p {
  display: block;
  text-align: left;
}

span {
  margin-right: 2em;
  pointer-events: none;
}
