body {
    height: 100vh;
  }

  #items-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;      
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
  }

  #pantry-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 85px;
  }

  .items {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  
  #items-container button {
    width: 30px;
    height: 28px;
  }

  input {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-right: 5%;
    width: 70%;
    height: 60%;
    border-radius: 4px;
  }

  .quantity-input {
    width: 40%
  }

  #btn-gp {
    width: 80vw;
    text-align:center;
    margin: auto;

  }

  #btn-gp button {
    margin: 2em 1em 0 1em;
    width: 5em;
  }

  #header div {
    width: 10em;
    margin: 0;
    display: block;
    transform: translateX(-11px);
    pointer-events: none;
  }

  #header {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 20px;
  }

  .delete-button{
    border-radius: 5px;
  }

  .delete-button:hover {
    background-color: rgb(233, 56, 56);
    border: 1px solid rgb(233, 56, 56);
  }

  .quantity-input:invalid {
  border-color: #EE4B2B;
  color: #EE4B2B;
  }