.text-field {
    flex-shrink: 1;
    flex-grow: 1;

    justify-content: space-between;
}

.search-field::placeholder {
    color: black;
}

.search-field {
    border: none;
}

#search-bar {
    background-color: rgb(238, 238, 238) !important;
}