
.content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.table {
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

/* button {
    margin: 10% 10% 0 10%;
} */

.material-icons.md-18 {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
}

.icon-btn:hover {
    color: white;
}

.my-nav{
    grid-gap: 0.5rem;
    align-items: center;
}

.text-field{
    flex-shrink: 1;
    flex-grow: 1;
}

.search-field{
    border: none;
}

.search-field::placeholder{
    color: black;
}

#new-list-btn{
    width: fit-content;
}

#btn-container{
    margin-top: 2em;
    width: 100%;
    text-align: center;
}