.content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.table {
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

button {
    margin: 10% 10% 0 10%;
}

.material-icons.md-18 {
    font-size: 18px;
}
